@charset "utf-8";
/**Lato Font**/

body{
	margin:0px;
	padding:0px;
	font-size:16px;
	font-family: 'Lato', sans-serif;
	color:#3d3d3d;
	font-weight:400;
	background:#f2efea;
}
h1.heading-1{
	color:#fff;
	font-size:39px;
	font-weight:300;
	width:100%;
	float:left;
	text-align:center;
	margin-top:10px;
}
h2.heading-1{
	color:#fff;
	font-size:39px;
	font-weight:300;
	width:100%;
	float:left;
	text-align:center;
	margin-top:10px;
}
h2.heading-2{
	font-weight:700;
	color:#1c1c1c;
	float:left;
	width:100%;
	font-size:20px;
	
	padding:0px;
	margin-bottom: 10px;
}
h2.h-bg{
	border-radius: 3px 3px 0px 0px;
	background:#d7dbdd;
	padding: 18px 0px;
	margin-bottom:0px;
	text-align:center;
}
header{
	float:left;
	width:100%;
	height:auto;
	padding: 15px 0px;
	background:#1C1C1C;
}
.acenter{text-align:center;}
.adcode{text-align:center;margin:10px 0px;width:100%;float:left;}
.loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;	background: url() 50% 50% no-repeat rgb(255,255,255);}
.wrapper{width:100%;float:left;}
.text-center{text-align: center;}

/**To Top**/
#scrollUp {
	bottom: 20px;
	right: 20px;
	background: #555;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 10px 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	transition: background 200ms linear;
	font-weight:700;
}
	#scrollUp:hover {
		background: #f5c65a;
		color: #000;
	}

section{
	float:left;
	width:100%;
	height:auto;
}
.container{
	width:1000px;
	margin:0 auto;
	position:relative;
}
.logo{
	float:left;
	width:auto;
}
.logo img{width:100%;}
nav{
	float:right;
	line-height: 31px;margin-top:6px;
}
ul.menu{
	float:left;
	width:540px;
}
ul.menu li{
	float:left;
	color:#fff;
	font-size:13px;
	margin-right: 15px;
}
ul.menu li.last{
	margin-right:0px;
}
ul.menu li a{
	color:#fff;
	line-height:40px;
}
ul.menu li a:hover{
	color:#f5c65a;
}
ul.menu li a.active{
	color:#f5c65a;
}
.active{
	color:#f5c65a;
}
.main-wrap{
	width:100%;
	float:left;
}
.main-wrap-center{
	width: 655px;
    float: left;
    margin: 0px 133px;
    position: relative;
}
.search{
	background: #424949;
	/*height:290px;*/
}
.search-height{
	height:262px;
}
.search-height1{
	height: 160px;
}
.search-box{
	background: #145a32;
	position: relative;
	padding: 4%;
float:left;
	color: #fff;
	width: 92%;
	top:10px;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
}
.form-field{
	margin-bottom:40px;
}
.form-field-single{
	margin-bottom:0px; 
	padding-bottom: 25px;
}
.input-cont{
	width:48%;
	background: #fff;
}
.input-cont-inner{
	width:70%;
}
.ic-left{
	float:left;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
}
.ic-right{
	float:right;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
}
.refrence-icon{
	width: 14%;
	float: left;
	padding: 25px 0px;
	cursor:pointer;
	background:#ececec url() center center no-repeat;
	border-radius: 3px 0px 0px 3px;
		-moz-border-radius: 3px 0px 0px 3px;
		-webkit-border-radius: 3px 0px 0px 3px;
		-o-border-radius: 3px 0px 0px 3px;
		-ms-border-radius: 3px 0px 0px 3px;
}
.refrence-icon-inner{
	padding:30px 0px;
}
.refrence-icon:hover{
	background:#ececec url(../static/ref.png) center center no-repeat;
}
.refrence-icon-null{
	width: 14%;
	float: left;
	padding: 25px 0px;
	cursor:pointer;
	background:#ececec url() center center no-repeat;
	border-radius: 3px 0px 0px 3px;
		-moz-border-radius: 3px 0px 0px 3px;
		-webkit-border-radius: 3px 0px 0px 3px;
		-o-border-radius: 3px 0px 0px 3px;
		-ms-border-radius: 3px 0px 0px 3px;
}
.active-icon{
	background:#ececec url(../static/ref.png) center center no-repeat;
}
.select-box{
	float: right;
	width: 86%;
	border: none;
	background: #fff;
	padding: 14px 14px 14px 14px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	border-radius: 0px 3px 3px 0px;
		-moz-border-radius: 0px 3px 3px 0px;
		-webkit-border-radius: 0px 3px 3px 0px;
		-o-border-radius: 0px 3px 3px 0px;
		-ms-border-radius: 0px 3px 3px 0px;
		-webkit-appearance: none;
		-moz-user-select: none;
  background-image: url() ;
  background-position: center right;
  background-repeat: no-repeat;
}
.input-box{
	float: left;
	width: 66%;
	border: none;
	background: #fff;
	padding: 20px 14px 20px 14px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;	
		-webkit-appearance: none;
}
.form-btn{
	background:#AEB404;
	border:none;
	color:232323;
	font-family: 'Lato', sans-serif;
	float:right;
	font-weight: 700;
	font-size:16px;
	cursor:pointer;
	padding: 20px 30px 20px 30px;
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;	
		-webkit-appearance: none;
}
.shadow{
	position:absolute;
	top: 5px;
}
.shadow-left{
	left: -26px;
}
.shadow-right{
	right:-26px;
}
.shdw-img-left{
	left: -20px;
}
.shdw-img-right{
	right: -20px;
}
.shdw-img-left img, .shdw-img-right img{
	height:159px;
}
.content-area{
	float:left;
	width:100%;
	/*margin-top:110px;*/
	margin-bottom:65px;
}
.content-area-inner{
	margin-top:82px;
}
.content-area-inner1{
	margin-top:50px;
}
.branches{
	background:#fff;
	float:left;
	width:100%;
	margin-bottom: 60px;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
}
.listing{
	float: left;
	width: 94%;
	padding: 3%;
}
.bank-details{
	float: left;
	width: 94%;
	/*display:none;*/
	padding: 3%;
	border-bottom:30px solid #f2efea;
}
ul.lists{
	float:left;
	width: 47%;
}
ul.lists li{
	line-height: 38px;
	font-size:15px;
	list-style:url();
}
ul.lists li a{
	display:block;
	color:#3d3d3d;
}
ul.lists li a:hover{
	color:#cf501b;
}
ul.fc{
	margin-left: 14px;
}
ul.lists:last-child{
	margin-right:0px;
}
.para{
	text-align:justify;
	line-height: 24px;
	margin-bottom:20px;
}
.read-more{
	text-align: center;
	margin-top: 45px;
}
.read-more a{
	background: #cf501b;
	padding: 12px 25px;
	color: #fff;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
}
.read-more a:hover{
	background:#9f390f;
	transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-webkit-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
}
footer{
	float:left;
	width:100%;
	height:auto;
	background:#232323;
	color:#8d8c8c;
	font-size:14px;
	padding: 20px 0px;    margin-bottom: 4.5%;
}
footer a{
	color:#8d8c8c;
}
footer a:hover{
	text-decoration:underline;
}
.f_section{
	width:auto;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
table.table{
	float:left;
	width:100%;
}
table.table tr td{
	padding: 5px 0px;
	line-height: 30px;
}
table.table tr td a{
	color:#cf501b;
}
	
label.error{
	position: absolute;
    left: 0;
    bottom: -35px;
}

input[type="text"],  input[type="button"]{ -webkit-appearance: none; }


.ad_left{float:left;margin-right:20px;margin-bottom:10px;}.ad_right{float:right;width:640px;}
.ad_left_div{float:left;width:48%;margin-bottom:10px;}
.mobile{display:none;}.pin_height{height:310px;}


/*Social icons*/
#socialside {
    position: fixed;
    top: 115px;
    right: 0; z-index:999;
}
.mainul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.scli {
    position: relative;
    width: 132px;
    list-style: none;
    border-radius: 0 8px 8px 0;
    margin-right: -103px;
    right:0;
    cursor: pointer;
    
}

.scli img {
    /*background-color: #333;*/
 
    height: 30px;
    position: absolute;
    left: 0;
    top:0;
}

.scli li {
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    padding-left:30px;
   font-family: 'Roboto', sans-serif;
    color: #fff;
   
}

.left_ad{width:35%;float:left;padding:40px;}
.right_ad{width:42%;float:left;padding:40px;}
.single_ad{text-align:center;padding:10px 0;width:100%;}

/*fixed social bar*/
.sticky-container{
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -169px;
        top:130px;
        width: 200px;
    }
    .sticky li{
        list-style-type: none;
        color: #efefef;
        height: 35px;
        padding: 0px;
        margin: 0px 0px 1px 0px;
        -webkit-transition:all 0.50s ease-in-out;
        -moz-transition:all 0.50s ease-in-out;
        -o-transition:all 0.50s ease-in-out;
        transition:all 0.50s ease-in-out;
        cursor: pointer;
        //-webkit-filter: grayscale(100%); 
    }

    .sticky li:hover{
        margin-left: -95px;
        //-webkit-filter: grayscale(0%);
    }

    .sticky li img{
        float: left;
        margin: 5px 5px;
        margin-right: 10px;
    }
    .sticky li p{
        padding: 0px;
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        text-transform: capitalize;
        line-height: 35px;
    }
    .sticky a{ color: #fff;}
.related{background: #fff; padding: 10px 20px;/* margin-top: -50px;*/ margin-bottom: 30px;}
.relatedh2{padding: 20px 0; text-transform: uppercase; color: #000;}
.related a{text-transform: capitalize; color: #CF501B; }
.related .listing{margin-top: -20px;}


@media only screen and (max-width: 995px) {/*======Tap Landscape Window======*/
 body{min-width:767px;}
 .container{width:767px;}
 .logo{width:200px;}
 ul.menu{width:520px;}
.main-wrap-center{margin:0 21px;}
h1.heading-1{font-size:30px;}
.adcode #aswift_1_expand{width:100% !important;}.ad_right{width:410px;}

}

@media only screen and (max-width: 767px) {/*======Tap Portrait & Mobile Landscape Window======*/
 body{min-width:420px;}
 .container{width:420px;}
 .logo{width:220px;   margin: 0px 100px 20px;}
 .main-wrap-center{width:100%;  margin:0;}
 .input-box{width:90%; padding:5%;  margin:0 0 20px;}
 .pin-swift{width: 100%;}
 ul.menu li{margin:0px 10px;}
 nav, ul.lists {width:100%;}  .input-cont{width:100%; margin:0 0 20px;} .form-field{margin-bottom:0;} 
 .f_section{width:100%; text-align:center;}
 .form-btn{width:100%; padding:5%;}.search{height:auto;}
 .content-area{margin-top:10px;}.ad_right{width:100%;}ad_left_div{width:100%;}.mo_ad{display:none;}.ad_left{width:100%;margin-right:0px;}.ad_left #aswift_2_expand{width:100% !important;}
.ad_left #aswift_2_anchor{width:100% !important;}.ad_left iframe{width:100% !important;}.adcode #aswift_0_expand{width:100% !important;}
.adcode #aswift_0_anchor{width:100% !important;}.adcode iframe{width:100% !important;}
.adcode #aswift_1_expand{width:100% !important;}
.adcode #aswift_1_anchor{width:100% !important;}.mobile{display:block !important;}.desk{display:none;}.pin_height{height:300px;}
.left_ad{width:50%;float:left;text-align:center;}
.right_ad{width:50%;float:left;text-align:center;}
.google_search_link a{display:block;margin:10px;}
}
@media only screen and (max-width: 479px) {/*======Mobile Window======*/
body{min-width:300px;}
 .container{width:300px;}
.logo{width:220px;   margin: 0px 40px 20px;}
  .mobile{display:block !important;}.desk{display:none;}
  
}

  
  
  
