
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Find IFSC Codes, MICR Codes, PIN Codes and Address Of All Banks In India - Banks IFSC Codes</title>
<meta name="title" content="Find IFSC Codes, MICR Codes, PIN Codes and Address Of All Banks In India - Banks IFSC Codes">

<meta name="description" content="Find the IFSC Codes, MICR Codes, PIN Codes and Address Details of All Banks in India">

<meta name="keywords" content="find IFSC codes, IFSC codes, MICR codes, PIN codes">

<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
<meta name=viewport content="width=device-width, initial-scale=1">

<!--{% load static %}-->
{% load staticfiles %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<noscript id="styles">
<link rel="stylesheet" href="/static/main.css" />
<link rel="stylesheet" href="/static/reset.css" media="all" />
<link rel="stylesheet" href="/static/nav.css" />
</noscript>
<script async src="/static/four.js"></script>
 <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
      
    
    </script>


  
   
<!--Main JS-->
<script type="text/javascript">
    var jQl={q:[],dq:[],gs:[],ready:function(a){"function"==typeof a&&jQl.q.push(a);return jQl},getScript:function(a,c){jQl.gs.push([a,c])},unq:function(){for(var a=0;a<jQl.q.length;a++)jQl.q[a]();jQl.q=[]},ungs:function(){for(var a=0;a<jQl.gs.length;a++)jQuery.getScript(jQl.gs[a][0],jQl.gs[a][1]);jQl.gs=[]},bId:null,boot:function(a){"undefined"==typeof window.jQuery.fn?jQl.bId||(jQl.bId=setInterval(function(){jQl.boot(a)},25)):(jQl.bId&&clearInterval(jQl.bId),jQl.bId=0,jQl.unqjQdep(),jQl.ungs(),jQuery(jQl.unq()), "function"==typeof a&&a())},booted:function(){return 0===jQl.bId},loadjQ:function(a,c){setTimeout(function(){var b=document.createElement("script");b.src=a;document.getElementsByTagName("head")[0].appendChild(b)},1);jQl.boot(c)},loadjQdep:function(a){jQl.loadxhr(a,jQl.qdep)},qdep:function(a){a&&("undefined"!==typeof window.jQuery.fn&&!jQl.dq.length?jQl.rs(a):jQl.dq.push(a))},unqjQdep:function(){if("undefined"==typeof window.jQuery.fn)setTimeout(jQl.unqjQdep,50);else{for(var a=0;a<jQl.dq.length;a++)jQl.rs(jQl.dq[a]); jQl.dq=[]}},rs:function(a){var c=document.createElement("script");document.getElementsByTagName("head")[0].appendChild(c);c.text=a},loadxhr:function(a,c){var b;b=jQl.getxo();b.onreadystatechange=function(){4!=b.readyState||200!=b.status||c(b.responseText,a)};try{b.open("GET",a,!0),b.send("")}catch(d){}},getxo:function(){var a=!1;try{a=new XMLHttpRequest}catch(c){for(var b=["MSXML2.XMLHTTP.5.0","MSXML2.XMLHTTP.4.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"],d=0;d<b.length;++d){try{a= new ActiveXObject(b[d])}catch(e){continue}break}}finally{return a}}};if("undefined"==typeof window.jQuery){var $=jQl.ready,jQuery=$;$.getScript=jQl.getScript};   var c1=0;
jQl._ready = jQl.ready;
jQl.ready = function(f){
  if(typeof f=='function'){
    c1++;
    // for demo purpose, to be removed
    if (document.getElementById('queuing')) document.getElementById('queuing').innerHTML=c1;
  }
  // return jQl in order to support jQuery(document).ready()
  return jQl._ready(f);
};
jQl._boot = jQl.boot;
jQl.boot = function(c){
  // for demo purpose, to be removed
  if (document.getElementById('waiting')) document.getElementById('waiting').innerHTML++;
  return jQl._boot(c);
}
$=jQl.ready;jQuery=$;
    
  </script>
</head>

<body>
<header>

  <div class="container">
     <div class="logo"><a href="http://www.ifscmicrpincode.com/"><img src="/static/logo.png" alt="Bank IFSC Code" title="Bank IFSC Code" /></a></div>
        <nav class="sf-menu" itemscope itemtype="http://data-vocabulary.org/WebSite">
          <ul id="menu" class="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
              <li><a href="http://www.ifscmicrpincode.com/" itemprop="url"><span itemprop="name">HOME</span></a></li>
                <li><a href="http://www.ifscmicrpincode.com/index" itemprop="url"><span itemprop="name">IFSC CODE</span></a></li>
                <li><a href="http://www.ifscmicrpincode.com/oldmicr/" itemprop="url"><span itemprop="name">MICR CODE</span></a></li>
               <!-- <li><a href="" itemprop="url"><span itemprop="name">SWIFT CODE</span></a></li>
                <li><a href="" itemprop="url"><span itemprop="name">PIN CODE</span></a></li>
                <li class="last"><a href="" target="_blank" itemprop="url"><span itemprop="name">LATEST UPDATES</span></a></li>-->
            </ul>
        </nav>
        <!--Navigation-->
    </div>
</header>
<!--Header-->

<!--Content-->
<section>
  <!--Search Box-->
  <div class="main-wrap search">
        <div class="container">
        
        <div class="single_ad desk">
    </div>  
           
    
    
    <h2 class="heading-1">Locate Any Bank Branch</h2>
      
            <div class="search-box">
        <div class="main-wrap form-field">
                    <div class="input-cont ic-left">
           
               <form method="get" action="/bank/">
                  {% csrf_token %}
		<span class="refrence-icon-null"></span>
            <select class="select-box" name="one" onChange="submit()">
                                            <option value="" selected>Select Bank </option>
                              {% for o in data %}
                                        <option value="{{ o.bank }}">{{ o.bank }}</option></a>
                                      {% endfor %}
                              </option>
                          </select>
              </form>
          
          </div>
          
                    <div class="input-cont ic-right">
            <form  name="state">
                          <span class="refrence-icon-null"></span>
            <select class="select-box" name="SelectURL" >
                                <option value="">Select State</option>
                            </select>
            </form>
          </div>
        </div>
        <div class="main-wrap">
                    <div class="input-cont ic-left">
            <form  name="district">
                          <span class="refrence-icon-null"></span>
            <select class="select-box" name="SelectURL" >
                              <option value="">Select District</option>
                            </select>
            </form>
          </div>
                    <div class="input-cont ic-right">
            <form  name="branch">
                          <span class="refrence-icon-null"></span>
            <select class="select-box" name="SelectURL" >
                              <option value="">Select Branch</option>
                            </select>
            </form>
          </div>
        </div>
            </div>
        </div>
    </div>
    
<div class="main-wrap content-area">
<div class="container">



    <div class="main-wrap branches">
    
    <h2 class="heading-2 h-bg">List of All Banks in India</h2> 
    <p>&nbsp;</p>
    
<div class="single_ad desk">


    </div>
<div class="single_ad mobile">

 <script type="text/javascript">
  $(document).ready(function(){
    var currenturl = window.location.href;
    var value = currenturl.split("#/");
    //window.location.href = "#/{{bank}}";

    $("#state").html("<option selected>"+value[1].replace(/%20/g, " ")+"</option>");
    alert(value[1]);
  });
  </script>
</div>  
    
    
    <div class="listing">

 
 

      <div class="wrapper">
                <ul class="lists fc">
          {% for o in data %} 
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://www.ifscmicrpincode.com/bank?one={{ o.bank }}.htm" itemprop="url">
            <span itemprop="title"> {{ o.bank }}</span></a>
            {% endfor %}
          </li>
        </ul>
                            
      </div>
   <p>&nbsp; 
<br/>
<br/>
<br/></p>
<h2 class="heading-2">What Is Bank IFSC Code?</h2>
<div class="main-wrap para">

The IFSC code or the Financial System Code of India is a unique alphanumeric code assigned by the Reserve Bank of India to identify a bank branch in India. This is a 11 digit code used for various banking transactions within the country. The IFSC code varies from branch to branch with similarities suitable for a bank. This code allows you to operate your account from anywhere in the world to transfer funds. It is used by electronic payment systems applications such as National Electronic Funds Transfer, Real-time Gross Settlement and Centralised Funds Management System (CFMS).
<br/>
<br/>
The first four characters of the IFSC code represent the bank code while the last 6 characters are used to identify the bank branch. The fifth character, which is a zero, is used as a control character. An example for the IFSC code for the ICICI bank is ICIC0000714. <br/>
<br/>
The IFSC system is for domestic transactions only, so each bank branch in India, regardless of whether they are from the public sector, the private sector or foreign banks will have an IFSC code that acts as a unique identifier for the bank branch. In the case of overseas referral systems, the international standard remains the SWIFT code, which is often not branch-specific

<br/>
<br/>
<h2 class="heading-2">What Is Bank MICR Code?</h2>

The magnetic ink character recognition code is a character recognition technology used primarily by the banking industry to facilitate the processing and authorization of checks and other documents. The MICR coding, called the MICR line, is located at the bottom of checks and other receipts and typically includes the document type indicator, bank code, bank account number, check number, check amount, and A control indicator. The technology allows MICR readers to scan and read the information directly into a data collection device. Unlike barcodes and similar technologies, MICR characters can be easily read by humans.
<br/>
<br/>
The MICR code consists of 9 digits
<br/>
<br/>
The first three digits (1-3) denotes the city and are the same first three digits of your PIN code for example the first three digits of the New Delhi Pin code = 110 so the first three digits of the MICR code for all branches Banks located in New Delhi should be 110.
4-6 digits denoted for Bank
Each bank has given a three-digit code, 4-6 digit = bank code, for example. SBI code is "002" so 4-6 digits of MICR code all branches of SBI is "002" regardless of location in India.
(7-9) The last three digits indicate the branch code, it is in series, it means that if delhi has only one branch of SBI and its MICR code will be
<br/>
Example:<br/>
In the case of "110002001" <br/>
110 (FOR CITY)   <br/>
002 (FOR BANK)  <br/>
001 (FOR BRANCH)<br/>
You can check the MICR codes of different banks and their branches by consulting it on the RBI website.
    
    </div>
    
  </div>
<footer>
	<div class="container">        
        <div class="f_section f_center">
        	<a href="http://www.ifscmicrpincode.com/privacy/" itemprop="url">Privacy Policy</a> | <a href="http://www.ifscmicrpincode.com/contact/" itemprop="url">Contact Us</a>
        </div>
    </div>
</footer>
</body>
</html>
