/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: none; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block; width:100%; margin-right:0; }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: none; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
/*.slicknav_menu { *zoom: 1 ; width:420px !important;}*/

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	font-size:16px; 
}
/* Button */
.slicknav_btn {
	margin: 5px 13px;	
	text-decoration:none;	
/*	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);	
*/	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;  
	/*background-color: #f3f3f3;*/
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {	
	color: #fff;
	font-weight: bold;	
	/*text-shadow: 0 1px 3px #000;	*/
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}
.slicknav_menu {
	background:#f5c65a;
  z-index:99;
  
	padding:0px;
}
.slicknav_nav {
	color:#fff;
	margin:0;	
	padding:0;
	font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0 0 0 0px;
}
.slicknav_nav .slicknav_item {
	padding:5px 10px;
	margin:2px 5px;
}
.slicknav_nav a{
	padding:5px 10px;
	margin:2px 5px;
	text-decoration:none;
	color:#fff; text-align:center;
}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_item:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#ccc;
	color:#fff;	
}
.slicknav_nav a:hover{
	
	background:#fdfcf5;
	color:#1361b5;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

@media only screen and (max-width: 767px) {
.slicknav_menu:after { content: " "; display: block; }
.slicknav_btn { display:block;}
}
